{% extends 'base.html.twig' %}

{% block title %}Commande enregistré{% endblock %}

{% block body %}

<h1 class="text-center">Commande enregistré</h1>

{% if items %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% set prixTotal = 0 %}
        {% for item in items %}             
            <tr>
                <td>{{ item.product.titre }}</td>
                <td>{{ item.product.prix|number_format(2) }}</td>
                <td>{{ item.quantity }}
                </td>
                <td>
                {% set total = item.quantity*item.product.prix %}
                {{ total|number_format(2) }} €
                </td>
            </tr>
            {% set prixTotal = prixTotal+total %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="fw-bold text-end">Total commande :</td>
                <td class="fw-bold" style='background-color: rgba(0, 0, 0, 0.4);'>{{ app.session.get('totalPrice')|number_format(2) }} €</td>
            </tr>
        </tfoot>
    </table>
{% else %}

    <p class="display-6 text-warning">Votre commande a bien été enregistré.<br>Vous pouvez suivre votre commande dans votre compte.</p>
    <a href="{{ path('app_compte') }}" class="btn btn-outline-success m-3">Voir mon compte</a>
{% endif %}

{% endblock %}
